.button-navigering {
  width: 100px;
  height: 100px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-navigering:hover {
  background-color: #0056b3;
}