.open-prosjekt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between boxes as needed */
  }
  
  .button-navigering {
    width: 200px;
    height: 200px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem; /* Make the text bigger */
    font-weight: bold; /* Make the text thicker */
  }
  
  .button-navigering:hover {
    background-color: #0263cb;
  }
  
  /* For mobile format */
  @media (max-width: 600px) {
    .box-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  
    .button-navigering {
      width: 150px; /* Adjust width for mobile */
      height: 150px; /* Adjust height for mobile */
      font-size: 1.2rem; /* Adjust font size for mobile */
    }
  }