.project-managment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adjust the gap between boxes as needed */
}

.left-box {
  grid-row: span 2; /* Make the left box span two rows */
}

.right-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px; /* Adjust the gap between boxes as needed */
}