.left-pane {
    width: 33.33vw; /* 1/3 of the screen width */
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start; /* Align items to the top */
    padding-left: 10px; /* Optional: Add some padding to the left */
    padding-top: 10px; /* Optional: Add some padding to the top */
}

.upload-box {
    width: 33.33vw; /* 1/3 of the screen width */
    height: 33.33vh; /* 1/3 of the screen height */
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stl-viewer {
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: white; /* Optional: Add a background color */
}

.comments {
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

.selected-comment {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}